<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defautHref="/tarefa"></ion-back-button>
    </ion-buttons>
    <ion-title>Tarefas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <form [FormGoup]="fGroup"  (ngSubmit)="salvar()">
    <ion-item>
      <ion-label position="stacked">Descrição</ion-label>
      <ion-input type="text" [(ngModel)]="tarefa.descricao" formControlName="descricao" name="descricao"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Data de Término</ion-label>
      <ion-input type="date" [(ngModel)]="tarefa.termino" formControlName="data" name="termino"></ion-input>
    </ion-item>

    <ion-item>
      <ion-toggle [(ngModel)]="tarefa.situacao" formControlName="situacao" name="situacao" color="primary">Tarefa Concluída</ion-toggle>
      <ion-button type="subimi" expand="block" color="primary">Salvar</ion-button>
    </ion-item>
  </form>
</ion-content>
