<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defautHref="/tarefa"></ion-back-button>
    </ion-buttons>
    <ion-title>Tarefas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <form [formGroup]="fGroup">
    <ion-item>
      <ion-label position="stacked">Descrição</ion-label>
      <ion-input type="text" formControlName="descricao" name="descricao"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Data de Término</ion-label>
      <ion-input type="date" formControlName="termino" name="termino"></ion-input>
    </ion-item>

    <ion-item>
      <ion-toggle formControlName="situacao" name="situacao" color="primary">Tarefa Concluída</ion-toggle>
      <ion-button (click)="salvar()" [disabled]="!fGroup.valid" expand="block" color="primary">Salvar</ion-button>
    </ion-item>
  </form>
</ion-content>
